input[type="submit"]{
    display: block;
    margin: auto;
    width: 100%;
}

input{
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="radio"]{
    display: inline;
    width: 50%;
}